# /etc/danted.conf

logoutput: syslog /var/log/sockd.log

internal: eth0 port = {{ tport }}
external: eth0

clientmethod: none
{% if user is defined %}
socksmethod: username
{% else %}
socksmethod: none
{% endif %}

user.privileged: root
user.unprivileged: nobody
user.libwrap: nobody

client pass {
    from: 0.0.0.0/0 to: 0.0.0.0/0
    log: error
}

# AS62041
socks pass { from: 0.0.0.0/0 to: 149.154.160.0/20 }
socks pass { from: 0.0.0.0/0 to: 149.154.164.0/22 }
socks pass { from: 0.0.0.0/0 to: 91.108.4.0/22 }
socks pass { from: 0.0.0.0/0 to: 91.108.8.0/22 }
socks pass { from: 0.0.0.0/0 to: 91.108.56.0/22 }
socks pass { from: ::/0 to: 2001:67c:4e8::/48 }

# AS44907
socks pass { from: 0.0.0.0/0 to: 91.108.20.0/22 }
socks pass { from: 0.0.0.0/0 to: 91.108.36.0/23 }
socks pass { from: 0.0.0.0/0 to: 91.108.38.0/23 }
socks pass { from: ::/0 to: 2001:b28:f23c::/48 }

# AS62014
socks pass { from: 0.0.0.0/0 to: 149.154.168.0/22 }
socks pass { from: 0.0.0.0/0 to: 91.108.16.0/22 }
socks pass { from: 0.0.0.0/0 to: 91.108.56.0/23 }
socks pass { from: ::/0 to: 2001:b28:f23f::/48 }

# AS59930
socks pass { from: 0.0.0.0/0 to: 149.154.172.0/22 }
socks pass { from: 0.0.0.0/0 to: 91.108.12.0/22 }
socks pass { from: ::/0 to: 2001:b28:f23d::/48 }

# Other
socks pass { from: 0.0.0.0/0 to: 149.154.167.0/22 }
socks pass { from: 0.0.0.0/0 to: 149.154.174.0/22 }

socks pass { from: 0.0.0.0/0 to: .telegram.org }
socks pass { from: 0.0.0.0/0 to: .stel.com }
socks pass { from: 0.0.0.0/0 to: .t.me }
socks pass { from: 0.0.0.0/0 to: .telegram.me }
socks pass { from: 0.0.0.0/0 to: .telegram.dog }
socks pass { from: 0.0.0.0/0 to: .telegra.ph }

# UDP for calls
socks pass {
    from: 0.0.0.0/0
    to: 0.0.0.0/0
    udp.portrange: 40000-45000
    command: udpassociate
    log: error connect disconnect
}

socks pass {
    from: 0.0.0.0/0
    to: 0.0.0.0/0
    command: udpreply
    log: error connect disconnect
}
